<mat-card class="loginCard">
  <mat-card-title>Angular meets the II (Internet Identity) - Login</mat-card-title>
  <mat-card-subtitle>Please login with your Internet Identity to get access.</mat-card-subtitle>
  <mat-card-content style="text-align:center">
    <img src="assets/ic-logo.png" style="width:100px"/>
  </mat-card-content>
  <mat-card-actions style="text-align:center">
    <button mat-raised-button color="primary" (click)="loginII()">Internet Identity login</button>
  </mat-card-actions>
</mat-card>
